
@{
    ViewData["Title"] = "공지사항";
}

<div class="content-wrapper">
    <div class="page-header">
        <h1 > 공지사항 </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">새 글 작성</a></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <!-- 공지사항 글 1-->
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">샘플 공지사항</h4>
                            <p class="card-description"> 작성자: 관리자 </p>
                            <p class="card-description"> 작성일: 2021년 1월 24일 </p>

                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley not only five centuries, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 공지사항 글 2-->
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">샘플 공지사항</h4>
                            <p class="card-description"> 작성자: 관리자 </p>
                            <p class="card-description"> 작성일: 2021년 1월 24일 </p>

                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley not only five centuries, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
