@model IEnumerable<Portfolio.Models.AnnouncementModel>
@{
    ViewData["Title"] = "공지사항";
}

<div class="content-wrapper">
    <div class="page-header">
        <h1 > 공지사항 </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <form method="get" asp-area="" asp-controller="Announcement" asp-action="Create">
                    <button type="submit" style="width:150px; margin:5px; height:80%" class="btn btn-inverse-primary btn-fw">새 글 추가</button>
                </form>
            </ol>
        </nav>
    </div>
    <div class="row">
        <!-- 공지사항 글 1-->
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">샘플 공지사항</h4>
                            <p class="card-description"> 작성자: 관리자 </p>
                            <p class="card-description"> 작성일: 2021년 1월 24일 </p>

                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley not only five centuries, </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 여기서부터 소환!-->
@*        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detail)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detail)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
*@

        <!-- 여기까지 -->


    </div>
</div>
