
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<div class="content-wrapper">
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Contact</h4>
    <p class="card-description" style="font-size:15px;"> sms_stmax@naver.com 이메일로 전송 됩니다. </p>
    <form class="forms-sample">
        <div class="form-group">
        <label for="exampleInputName1">이름</label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>
        <div class="form-group">
        <label for="exampleTextarea1">내용</label>
        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mr-2">보내기</button>
    </form>
    </div>
</div>
</div>